[Desktop Entry]
Encoding=UTF-8
Name=DivaModManager
Exec=run_divamodmanager.sh
Type=Application
StartupNotify=true
Terminal=false
Comment=DivaModManager for Mega Mix+
Icon=dmmlogo
StartupWMClass=DivaModManager.exe